In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('spam_ham.csv')

In [4]:
df.head(10)

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
5,2949,ham,Subject: ehronline web address change\r\nthis ...,0
6,2793,ham,Subject: spring savings certificate - take 30 ...,0
7,4185,spam,Subject: looking for medication ? we ` re the ...,1
8,2641,ham,Subject: noms / actual flow for 2 / 26\r\nwe a...,0
9,1870,ham,"Subject: nominations for oct . 21 - 23 , 2000\...",0

In [5]:
df.groupby('label_num').describe()

          Unnamed: 0                                                         \
               count    mean          std     min      25%     50%      75%
label_num
0             3672.0  1835.5  1060.159422     0.0   917.75  1835.5  2753.25
1             1499.0  4421.0   432.868340  3672.0  4046.50  4421.0  4795.50


              max
label_num
0          3671.0
1          5170.0

In [6]:
from sklearn.model_selection import train_test_split
X_train, x_test, y_train, y_test = train_test_split(df.text,df.label_num,test_size=0.33)

In [7]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer

In [8]:
pp=Pipeline([('vectorizer',CountVectorizer()),
             ('nb',MultinomialNB())
            ])

In [9]:
pp.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [10]:
pp.score(X_train,y_train)

0.9890300230946882

In [11]:
pp.score(x_test,y_test)

0.9707088459285296

#  spam is represented by 1 and ham is represented by 0

In [12]:
email=["Dear Haisim,We hope you’re doing well. Thanks for opting in for our Beta Program! ",
       "Salam sir, the block sort algorithm that you have assigned to me , I have not been able to find many resources on it. I have only manage to find 2 resources one of them is Wikipedia and the other is a question on stack overflow asking about the algorithm provided on Wikipedia. I have tried to understand the algorithm on Wikipedia on my own and also consulted with my seniors and friends but no one could understand it either. As there are very limited resources it would be helpful to me if u give me an overview of this algorithm so that I can implement using mpiIn Wikipedia it is mentioned that block sort uses insertion sort and two merging operations but on other source it was mentioned that block sort works exactly like merge sort but it just divide the array into more than two blocks .I could not understand wikipedia’s demonstration and explanation about this algorithm.Your help will be highly appreciated. ",
       "Congratulations , you have one 10000$ in lottery.",
       "Supercharge your summer with these resources",
        " We collected some of the top learning tips from learners like you. Check out their tricks and tools for a successful online learning experience. Also, be sure to explore their favorite programs and courses on edX.",
       "What is an average SAT score for an Ivy League student? click here to check more",
       "hey buddy can u send me physics assignment",
       "Haisim you are requested to present neural networks lecture to class "
      
      ]

In [13]:
pp.predict(email)  #naive bayes

array([0, 0, 1, 0, 1, 1, 0, 0], dtype=int64)